metadata name="omnios-bloody-disk" version="0.0.1" description="OmniOS bloody bootable qcow2 image"

distro "omnios"
base "omnios-bloody-base.kdl"
include "devfs.kdl"
include "common.kdl"

repositories {}

packages {
    package "/system/management/cloud-init"
    package "/driver/crypto/viorand"
    package "/driver/network/vioif"
    package "/driver/storage/vio9p"
    package "/driver/storage/vioblk"
    package "/driver/storage/vioscsi"
}

overlays {
    file destination="/boot/conf.d/console" source="boot_console.ttya" owner="root" group="root" mode="644"
    file destination="/etc/ttydefs" source="ttydefs.115200" owner="root" group="sys" mode="644"
    file destination="/etc/default/init" source="default_init.utc" owner="root" group="root" mode="644"
    shadow username="root" password="$5$kr1VgdIt$OUiUAyZCDogH/uaxH71rMeQxvpDEY2yX.x0ZQRnmeb9"
}

builder {
    image "https://downloads.omnios.org/media/bloody/omnios-bloody-20251111.cloud.raw.zst"
    vcpus 4
    memory 4096
    disk 20
}

target "qcow2" kind="qcow2" {
    disk-size "2000M"
    bootloader "uefi"
    filesystem "zfs"
    push-to "code.aopc.cloud/cloudnebulaproject/omnios-bloody:latest"
    pool {
        property name="ashift" value="12"
    }
}
